*{
  margin: 0;
  padding: 0;
}
body{
	background:#e0e0e0;
}
.displayWrap{
	margin-top: 20px;
  width: 100%;
	height: 70px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow: 1px 1px 1px 1px #bebebe;
	background-image: linear-gradient(#bebebe, #fff, #bebebe);
}
.displayWrap:hover{
	background-image: linear-gradient(#fff, #bebebe,#fff);
}
.App{
	background:#fff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.btn{
	width: 100%;
	height: 75px;
	font-weight: 700;
}
.butBoard{
	margin-top: 10px;
	width: 100%;
	height: 400px;
}
.col-3{
	width: 100%;
	height: 80px;
	border:1px solid #fff;
	padding: 0;
}
.col-6{
	border:1px solid #fff;
	width: 100%;
	height: 80px;
	padding: 0;
}
.results{
	font-weight: 700;
}