*{
  margin: 0;
  padding: 0;
}
body{
	background:#e0e0e0;
}
.displayWrap{
	margin-top: 20px;
  width: 100%;
	height: 70px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	box-shadow: 1px 1px 1px 1px #bebebe;
	background-image: linear-gradient(#bebebe,#e5e2e2,#e5e2e2);
}
.displayWrap:hover{
	background-image: linear-gradient(#bebebe,#e5e2e2,#e5e2e2);
}
.calculatorBody{
	width: 70px;
	background:#fff;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.btn{
	width: 100%;
	height: 75px;
	font-weight: 700;
}
.row{
    height: 100px;
}
.btn{
	border: 1px solid silver;
	color: #000;
}
.col-3{
	height: 80px;
	border:1px solid #e0e0e0;
	padding: 0;
}
.col-6{
	height: 80px;
	border:1px solid #e0e0e0;
	padding: 0;
}
.results{
	font-weight: bolder;
	color: #fff;
	font-size: 40px;
	padding: 40px;
}