*{
  margin: 0;
  padding: 0;
}
body{
	background:transparent;
}
.displayWrap{
	margin-top: 20px;
    width: 100%;
	height: 70px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-image: linear-gradient(#ff9974,#f05e23,#ff9974);
	white-space: initial;
	word-break: break-all;
}
.bg-secondary{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	z-index: 2;
}
.btn{
	border: 1px solid #ff9974;
	color: #000;
	width: 100%;
	height: 75px;
	font-weight: 700;
}
.col-3{
	height: 80px;
	padding: 0;
}
.col-6{
	height: 80px;
	padding: 0;
}
.orangeColor{
	background: #ff9974;
}
.orangeColor:hover{
	background: #f7784a;
}
.colorMe{
	background: #f05e23;
}

.colorMe:hover{
	background: #ff9974;
	color: #333;
}
.results{
	font-weight: bolder;
	color: #fff;
	border-top-right-radius:5px;
	background-image: linear-gradient(#ff9974,#f05e23,#ff9974);
	padding: 11px;
	word-break: break-all;
}